<div class="main-body-left-body-last-cards">
    <div class="main-body-left-body-cards">
        <mat-card class="main-body-left-body-last-mat-card" *ngFor="let i of cartFoodItems">
            <div class="image-card" ><img src="{{i.productImage}}" class="image-resize"/></div>
            <div class="details-card">
                <div>
                    <div class="details-card-name">{{i.productName}}</div>
                    <div class="details-card-price">price {{i.productPrice}}$</div>
                </div>
                <div class="buttoncard" >
                    <button class="matbutton" (click)="Increment(i.id)">
                        <span class="material-icons">
                           add
                        </span>
                    </button>
                    <button class="matbutton" >{{i.count}}</button>
                    <button class="matbutton" (click)="Decrement(i.id)">
                        <span class="material-icons">
                            remove
                         </span>
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>

