<div class="main-table-div">
    <div class="main-table-left">
        <div class="left-icons">
        <span class="material-icons">
            flatware
            </span>
        </div>
    </div>
    <div class="main-table-right">
        <div class="main-header">
            <div class="main-header-div">
                <h3>the great table</h3>
                <select class="main-header-select">
                    <option selected value="today">today</option>
                </select>   
                <div class="search-bar">
                    <input matInput type="text" class="mat-inputs">
                    <span class="material-icons">
                        search
                    </span>
                </div>
            </div>
        </div>
        <div class="main-body-div">
            <div class="main-body-left-div">
                <div class="main-body-left-header">
                    <div class="main-body-left-header-table">Table</div><div class="main-body-left-header-name">5 - Bharath</div>
                </div>
                <div class="main-body-left-body">
                    <div class="main-body-left-body-first-cards">
                        <mat-card class="main-body-left-body-mat-card" (click)="ShowDrinks()" [ngClass]="{'backcolor':drinksBackColor}">
                            <h4>Drinks</h4>
                        </mat-card>
                        <mat-card class="main-body-left-body-mat-card" id="food" (click)="ShowFood()"[ngClass]="{'backcolor':foodBackColor}">
                            <h4>Food</h4>
                        </mat-card>
                        <mat-card class="main-body-left-body-mat-card" id="dessert" (click)="ShowDessert()" [ngClass]="{'backcolor':dessertBackColor}">
                            <h4>Dessert</h4>
                        </mat-card>
                    </div>
                    <div  *ngIf="showDrinks">
                    <div class="main-body-left-body-second-cards">
                            <mat-form-field appearance="fill" >
                            <mat-label>State</mat-label>
                            <mat-select [(value)]="SelectedCategory">
                                <mat-option  [value]="i.name"  *ngFor="let i of drinksList" (click)="drinkSelect(i.name)">{{i.name}}</mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="showDrinksBeer">
                            <app-drinks></app-drinks>
                        </div>
                        <div *ngIf="showDrinksWine">
                            <app-drinks></app-drinks>
                        </div>
                    </div>
                    <div  *ngIf="showFood">
                        <div class="main-body-left-body-second-cards">
                            <mat-form-field appearance="fill" >
                            <mat-label>State</mat-label>
                            <mat-select [(value)]="SelectedFoodCategory">
                                <mat-option  [value]="i.name"  *ngFor="let i of foodList" (click)="drinkSelect(i.name)">{{i.name}}</mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="showFoodBiryani">
                            <app-food></app-food>
                        </div>
                        <div *ngIf="showFoodRoti">
                            <app-food></app-food>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body-right-div">
                <app-cart></app-cart>
            </div>
        </div>
    </div>
</div>