.main-table-div{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #ffff;
}
.main-table-left{
    height: auto;
    width: 10%;
    display: block;
    border-right: 2px solid lightgray;
    box-shadow: 1px 1px lightgray;
}
.main-table-right{
    height: auto;
    width:100%
}
.main-header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.main-header-div{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-header-div h3{
    text-transform: capitalize;
    font-size: 4rem;
    margin-top: 1rem;
    color: rgb(163, 158, 158);
    position: relative;
}
.main-header-select{
    text-transform: capitalize;
    background-color: transparent;
    color: rgb(126, 122, 122);
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
}
.search-bar{
    height: 2.5rem;
    width: 100%;
    border-radius: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.left-icons{
    margin-top: 13rem;
    float: right;
}
.mat-inputs{
    width: 17rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 1rem;
}
.material-icons{
    position: relative;
    right: 3rem;
    top: 0.3rem ;
}
.main-body-div{
    height: 83%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.main-body-left-div{
    height: auto;
    width: 100%;
}
.main-body-left-header{
    display: flex;
    flex-direction: row;
}
.main-body-left-header-table{
    margin-left: 1rem;
}
.main-body-left-header-name{
    font-weight: 600;
    color: rgb(92, 82, 82);
    margin-left: 0.5rem;
}

.main-body-left-body{
    height: auto;
    width: 100%;
}
.main-body-left-body-first-cards{
    display: grid;
    grid-template-columns: repeat(3,minmax(100px,auto));
    margin-top: 1rem;
    border-right: none;
}
.main-body-left-body-second-cards{
    width: 100%;
    height: auto;
    margin-top: 2rem;
    /* margin-left: 1rem; */
    /* margin-right: 2rem; */
}
.mat-form-field{
    width: 100%;
    outline: none;
    border: none;
}
.mat-select{
    height: 3rem;
    width: 100%;
}
.main-body-left-body-mat-card{
    border: 1px solid black;
    border-radius: 0%;
    cursor: pointer;
}
.mat-card h4{
    color: rgb(92, 84, 84);
    font-weight: 500;
    text-align: center;
}
.main-body-right-div{
    height: auto;
    width: 50%;
}
.backcolor{
    background-color: black;
}
.backcolor h4{
    color: #ffff;
}

@media screen and (max-width : 769px) {
    .search-bar{
        display: none;
    }
    .main-body-div{
        display: flex;
        flex-direction: column;
    }
    .main-body-right-div{
        position: relative;
        top: 5rem;
        width: 100%;
    }
    .main-table-left{
        display: none;
    }
    .main-header-div{
        width: 100%;
    }
    .main-body-left-body-second-cards{
        width: 100%;
        margin-right: 0;
    }
}