<div class="main-table-div">
    <div class="main-table-left">
        <div class="left-icons">
        <span class="material-icons">
            flatware
            </span>
        </div>
    </div>
    <div class="main-table-right">
        <div class="main-header">
            <div class="main-header-div">
                <h3>the great table</h3>
                <select class="main-header-select">
                    <option selected value="today">today</option>
                </select>
            </div>
            <div class="search-bar">
                <input matInput type="text" class="mat-inputs">
                <span class="material-icons">
                    search
                </span>
            </div>
        </div>
        <div class="main-body-div">
            <div class="main-body-left-div">
                <div class="main-body-left-header">
                    <div class="main-body-left-header-table">Table</div><div class="main-body-left-header-name">5 - Bharath</div>
                </div>
                <div class="main-body-left-body">
                    <div class="main-body-left-body-first-cards">
                        <mat-card class="main-body-left-body-mat-card" (click)="ShowDrinks()" [ngClass]="{'backcolor':drinksBackColor}">
                            <h4>Drinks</h4>
                        </mat-card>
                        <mat-card class="main-body-left-body-mat-card" id="food" (click)="ShowFood()"[ngClass]="{'backcolor':foodBackColor}">
                            <h4>Food</h4>
                        </mat-card>
                        <mat-card class="main-body-left-body-mat-card" id="dessert" (click)="ShowDessert()" [ngClass]="{'backcolor':dessertBackColor}">
                            <h4>Dessert</h4>
                        </mat-card>
                    </div>
                    <div  *ngIf="showDrinks">
                    <div class="main-body-left-body-second-cards">
                            <mat-form-field appearance="fill" >
                            <mat-label>State</mat-label>
                            <mat-select [(value)]="SelectedCategory">
                                <mat-option  [value]="i.name"  *ngFor="let i of drinksList" (click)="drinkSelect(i.name)">{{i.name}}</mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="showDrinksBeer">
                            <app-drinks></app-drinks>
                        </div>
                        <div *ngIf="showDrinksWine">
                            <app-drinks></app-drinks>
                        </div>
                    </div>
                    <div  *ngIf="showFood">
                        <div class="main-body-left-body-second-cards">
                            <mat-form-field appearance="fill" >
                            <mat-label>State</mat-label>
                            <mat-select [(value)]="SelectedFoodCategory">
                                <mat-option  [value]="i.name"  *ngFor="let i of foodList" (click)="drinkSelect(i.name)">{{i.name}}</mat-option>
                            </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="showFoodBiryani">
                            <app-food></app-food>
                        </div>
                        <div *ngIf="showFoodRoti">
                            <app-food></app-food>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body-right-div">
                <app-cart></app-cart>
                <!-- <div class="main-body-right-body-first-card">
                    <div class="check-name-div">
                        check
                    </div>
                    <div class="main-body-right-body-main-card">
                        <mat-card class="main-body-right-body-mat-card">
                            <div class="main-body-right-body-mat-card-details">
                                <div>Drinks</div>
                                <div>total:- 25$</div>
                            </div>
                            <div class="main-body-right-body-mat-card-details">
                                <div>Product Name</div>
                                <div>6$*2</div>
                                <div>12$</div>
                            </div>
                            <div class="main-body-right-body-mat-card-details">
                                <div>Product Name</div>
                                <div>13$</div>
                                <div>13$</div>
                            </div>
                        </mat-card>
                        <mat-card class="main-body-right-body-mat-card">
                            <div class="main-body-right-body-mat-card-details">
                                <div>Food</div>
                                <div></div>
                                <div>25$</div>
                            </div>
                        </mat-card>
                        <mat-card class="main-body-right-body-mat-card"></mat-card>
                        <mat-card class="main-body-right-body-last-mat-card"></mat-card>
                    </div>
                    <div>
                        <button mat-button class="payment-button">Pay Now</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>







<!-- This is only comments section -->



<!-- <mat-card class="main-body-left-body-last-mat-card">
    <div class="image-card"><img src="#"/></div>
    <div class="details-card">
        <div>
            <div>wine</div>
            <div>price 20$</div>
        </div>
        <div class="button-card">
            <button mat-button >+</button>
            <button mat-button>1</button>
            <button mat-button>-</button>
        </div>
    </div>
</mat-card>
<mat-card class="main-body-left-body-last-mat-card">
    <div class="image-card"><img src="#"/></div>
    <div class="details-card">
        <div>
            <div>wine</div>
            <div>price 20$</div>
        </div>
        <div class="button-card">
            <button mat-button >+</button>
            <button mat-button>1</button>
            <button mat-button>-</button>
        </div>
    </div>
</mat-card>
<mat-card class="main-body-left-body-last-mat-card">
    <div class="image-card"><img src="#"/></div>
    <div class="details-card">
        <div>
            <div>wine</div>
            <div>price 20$</div>
        </div>
        <div class="button-card">
            <button mat-button >+</button>
            <button mat-button>1</button>
            <button mat-button>-</button>
        </div>
    </div>
</mat-card>
<mat-card class="main-body-left-body-last-mat-card">
    <div class="image-card"><img src="#"/></div>
    <div class="details-card">
        <div>
            <div>wine</div>
            <div>price 20$</div>
        </div>
        <div class="button-card">
            <button mat-button >+</button>
            <button mat-button>1</button>
            <button mat-button>-</button>
        </div>
    </div>
</mat-card>
<mat-card class="main-body-left-body-last-mat-card">
    <div class="image-card"><img src="#"/></div>
    <div class="details-card">
        <div>
            <div>wine</div>
            <div>price 20$</div>
        </div>
        <div class="button-card">
            <button mat-button >+</button>
            <button mat-button>1</button>
            <button mat-button>-</button>
        </div>
    </div>
</mat-card> -->
