.main-body-right-body-first-card{
    display: flex;
    flex-direction: column;
}
.check-name-div{
    font-weight: 800;
    text-transform: capitalize;
    font-size: 1.2rem;
}
.main-body-right-body-mat-card{
    min-height: 7rem;
    max-height: auto;
    margin-top: 4rem;
    border-bottom: 2px solid black;
    width: auto;
}
.main-body-right-body-last-mat-card{
    height: 7rem;
    margin-top: 13rem;
    width: auto;
}
.main-body-right-body-mat-card-details{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}
.main-body-right-body-mat-card-details .product-name{
    width: 11rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.payment-button{
    background-color: rgb(38, 187, 38);
    width: 98%;
    height: 3rem;
}
.last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 769px) {
    .main-body-right-body-first-card{
        margin-left: 1rem;
    }
    .pay-div{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
.payment-button{
    width: 10rem;
}
}
