<!-- <div class="main-body-right-div"> -->
    <div class="main-body-right-body-first-card">
        <div class="check-name-div">
            check
        </div>
        <div class="main-body-right-body-main-card">
            <mat-card class="main-body-right-body-mat-card" >
                <div class="main-body-right-body-mat-card-details" >
                    <div>Drinks</div>
                    <div>total:- {{cartTotal}}$</div>
                </div>
                <div class="main-body-right-body-mat-card-details" *ngFor="let i of cartTotalItems">
                    <div>{{i.productName}}</div>
                    <div>{{i.productPrice}}*{{i.count}}</div>
                    <div>{{i.total}}$</div>
                </div>
            </mat-card>
            <mat-card class="main-body-right-body-mat-card">
                <div class="main-body-right-body-mat-card-details">
                    <div>Food</div>
                    <div>total:- {{cartFoodTotal}}$</div>
                </div>
                <div class="main-body-right-body-mat-card-details" *ngFor="let i of cartFoodTotalItems">
                    <div>{{i.productName}}</div>
                    <div>{{i.productPrice}}*{{i.count}}</div>
                    <div>{{i.total}}$</div>
                </div>
            </mat-card>
            <mat-card class="main-body-right-body-mat-card"></mat-card>
            <mat-card class="main-body-right-body-last-mat-card" >
                <div class="last">
                    <div>Sub-Total</div>
                    <div>{{cartSubTotal}}$</div>
                </div>
                <div class="last">
                    <div>EstimatedTaxes</div>
                    <div>{{cartTax}}$</div>
                </div>
            </mat-card>
        </div>
        <div class="pay-div">
            <button mat-button class="payment-button">Pay Now</button>
        </div>
    </div>

