<div class="main-class">
    <div class="header-div">
        <h1>Angular Assignment.</h1>
    </div>
    <div class="mat-card-div">
        <mat-card>
            <mat-card-title>The Grate Table Application</mat-card-title>
            <button class="btn-lg" routerLink="/Home" routerLinkActive="active">Click to View</button>
        </mat-card>
        <mat-card>
            <mat-card-title>Marvel Aplication</mat-card-title>
            <button class="btn-lg" routerLink="/dashboard" routerLinkActive="active">Click to View</button>
        </mat-card>
    </div>
</div>

